<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!--Linke to fonts-->

            <!--Linke to fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Emblema+One&family=Krona+One&family=Montenegrin+Gothic+One&family=Oswald:wght@200..700&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&display=swap" rel="stylesheet">

    



<!-- Links to my CSS files -->
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/bars.css(v=5)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/buttons.css(v=4)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/cards.css(v=5)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/header-responsive.css(v=4)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/content.css(v=4)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/body-content.css(v=4)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/header.css(v=4)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/table.css(v=5)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/animated-arrow.css}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/body-content-responsive.css(v=4)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/table-responsive.css(v=5)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/buttons-responsive.css(v=5)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/mobile-btn.css(v=4)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/main-blocks.css(v=5)}">



    
</head>

<body>
    <section th:class="@{home-page}">


<!--Container for the top bar-->
        <div class="top-bar-container">
               <!--Top bar with name profile pic, etc-->
        <div class="top-bar">
<!--Search bar-->
        <div class="search-container">
            <form id="search-form" class="search-form" action="/submit" method="GET">
                <input 
                class="search-box"
                type="text" 
                id="search-box" 
                name="search" 
                placeholder="Search projects, email, resume...">
            </form>
        </div>


            <img th:src="@{images/SelfImage.jpeg}" class="self-image">
            <p class="top-bar-text">Jackson<br> Wiser</p>

        <!--Settings icon-->
        <div class="settings-block">
            <img th:src="@{/SVG Images/settings-svgrepo-com.svg}" class="settings-icon" alt="Settings Icon">
        </div>

            </div>
        </div>

<div class="grouping-blocks">

    <div class="analytics-block-container">
        <div class="analytics-block">

            <div th:each="analytic : ${analytics}" class="analytics-card">

                <!--Projects completed-->
                <div class="analytics-row">
                    <div class="analytics-label">
                        <span>Projects Completed</span>
                        <span th:text="${analytic.projectsCompleted} + '+'"></span>
                    </div>

                    <!--Fill bar-->
                    <div class="analytics-bar">
                        <div class="analytics-fill"
                             th:style="'width: ' + ${analytic.projectsCompleted * 10} + '%'">
                        </div>
                    </div>
                </div>

                <!--Amount of repositories-->
                <div class="analytics-row">
                    <div class="analytics-label">
                        <span>Repositories</span>
                        <span th:text="${analytic.repositories} + '+'"></span>
                    </div>

                    <!--Fill bar-->
                    <div class="analytics-bar">
                        <div class="analytics-fill"
                             th:style="'width: ' + ${analytic.repositories * 5} + '%'">
                        </div>
                    </div>
                </div>

                <!--Languages known-->
                <div class="analytics-row">
                    <div class="analytics-label">
                        <span>Languages Known</span>
                        <span th:text="${analytic.languagesKnown}"></span>
                    </div>

                    <!--Fill bar-->
                    <div class="analytics-bar">
                        <div class="analytics-fill"
                             th:style="'width: ' + ${analytic.languagesKnown * 10} + '%'">
                        </div>
                    </div>
                </div>

                <!--Amount of commits-->
                <div class="analytics-row">
                    <div class="analytics-label">
                        <span>Commits</span>
                        <span th:text="${analytic.commits} + '+'"></span>
                    </div>

                    <!--Fill bar-->
                    <div class="analytics-bar">
                        <div class="analytics-fill"
                             th:style="'width: ' + ${analytic.commits / 10} + '%'">
                        </div>
                    </div>
                </div>

                <!--Years of programming-->
                <div class="analytics-row">
                    <div class="analytics-label">
                        <span>Years Programming</span>
                        <span th:text="${analytic.yearsProgramming} + '+'"></span>
                    </div>

                    <!--Fill bar-->
                    <div class="analytics-bar">
                        <div class="analytics-fill"
                             th:style="'width: ' + ${analytic.yearsProgramming * 20} + '%'">
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>






<!-- Education block container -->
<div class="education-block-container">
    <div class="education-block">

        <div class="education-label">
            <h2 class="section-title">Education</h2>
        </div>

        <div th:each="education : ${educationList}" class="education-card">

            <!-- School name -->
            <br><h3 class="education-name"
                th:text="${education.name}"></h3>

            <!-- Degree -->
            <p class="education-degree"
               th:text="${education.degree}"></p>

            <!-- Years -->
            <p class="education-years"
               th:text="${education.startYear} + ' - ' + ${education.endYear}"></p>

            <!-- Location -->
            <p class="education-location"
               th:text="${education.city} + ', ' + ${education.state}"></p>

            <!-- Circular Progress -->
            <div class="education-circle-progress"
                 th:style="'--percentage:' + ${education.percentage}">

                <div class="education-circle-inner">
                    <span th:text="${education.percentage} + '%'"></span>
                </div>

            </div>

        </div>

    </div>
</div>


            <!--Block that hold all the education-->
    <div class="skills-block-container">

        <div class="skills-block">

<div th:each="skill : ${skills}" class="skill-card">

    <div class="block-container">
    <img class="skills-image"
         th:src="${skill.skillsImage}"
         th:alt="${skill.name}">
         </div>
<!-- Skill name -->
    <div class="skill-info">
        <h3 th:text="${skill.name}"></h3>


        <!-- Progress bar (blue) of the circle -->
        <div class="circle-progress"
            th:style="'--percentage: ' + ${skill.percentage}">
   
<!-- Inner circle that displays the percentage -->
        <div class="circle-inner">
            <span th:text="${skill.percentage}"></span>%
            </div>
        </div>
    </div>
</div>
</div>






         
<div class="side-bar-container">

    <!-- ================= Logo ================= -->
    <div class="logo-name-container">
        <img
            th:src="@{/images/PV Logo.png}"
            class="PV-logo"
            alt="PeaksValo Logo">

    </div>

    <!-- ================= Essentials ================= -->
    <span class="section-title">Essentials</span>

    <div class="text-wrap">
        <a th:href="@{/projects}" class="projects-link">
            <img
                th:src="@{/SVG Images/laptop.svg}"
                class="projects-btn"
                alt="Projects"
            >
        <p style="color: black;">Projects</p>
        </a>
    </div>

    <div class="text-wrap">
        <a th:href="@{/assets/Jackson's Resume.pdf}" class="resume-link" download>
            <img
                th:src="@{/SVG Images/cloud-arrow-down-fill.svg}"
                class="download-resume-btn"
                alt="Download Resume"
            >
        
        <p style="color: black;">Resume</p>
        </a>
    </div>

    <!-- subtle divider -->
    <hr class="subtle-divider">

    <!-- ================= Contact ================= -->
    <span class="section-title">Contact</span>

    <div class="text-wrap">
        <a href="mailto:example@example.com" class="contact-link">
            <img
                th:src="@{/SVG Images/envelope-at.svg}"
                class="contact-btn"
                alt="Email"
            >
        
        <p style="color: black;">Email</p>
        </a>
    </div>

    <div class="text-wrap">
        <a
            href="https://www.linkedin.com/in/jackson-wiser-1b0b3a1b6/"
            class="linkedin-link"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img
                th:src="@{/SVG Images/linkedin-161-svgrepo-com.svg}"
                class="linkedin-btn"
                alt="LinkedIn"
            >
        
        <p style="color: black;">LinkedIn</p>
        </a>
    </div>

    <div class="text-wrap">
        <a
            href="https://github.com/PeakValo05" class="github-link"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img
                th:src="@{/SVG Images/github-142-svgrepo-com.svg}"
                class="github-btn"
                alt="GitHub"
            >
        
        <p style="color: black;">GitHub</p>
        </a>
    </div>

    <div class="text-wrap">
        <a href="tel:+14258797310" class="phone-link">
            <img
                th:src="@{/SVG Images/phonesvg.svg}"
                class="phone-btn"
                alt="Phone"
            >
       
        <p style="color: black;">(425) 879-7310</p>
        </a>
    </div>





        <!-- subtle divider -->
    <hr class="subtle-divider">






<!-- ================= Location ================= -->
    <span class="section-title">Location</span>

        <div class="text-wrap-location">
            <img th:src="@{/SVG Images/location-svgrepo-com.svg}" class="location-icon" alt="Location">
            <span style="font-weight: normal;">Bluffdale, UT</span>
            <img th:src="@{/SVG Images/briefcase-svgrepo-com.svg}" class="location-icon" alt="Opportunities">
            <span style="font-weight: normal;">Open to new Opportunities</span>
        </div>




    <!-- subtle divider -->
    <hr class="subtle-divider">





    <!-- ================= Work Experience ================= -->
    <span class="section-title">Work Experience</span><br>

    <div class="text-wrap-experience">
        <div class="experience-item">
            <strong>Costco Wholesale</strong><br>
            <span style="font-weight: normal;">Bakery</span><br>
            <span style="font-weight: normal;">2023–Present</span>
        </div>
        <div class="experience-item"><br>
            <strong>Cinemark Theaters</strong><br>
            <span style="font-weight: normal;">Floor Staff / Shift Lead</span><br>
            <span style="font-weight: normal;">2021–2023</span>
        </div>
        </div>  


            <!-- subtle divider -->
    <hr class="subtle-divider">

<!-- ================= Skills ================= -->
        <span class="section-title">Skills</span>
<!-- Skills list -->
        <div class="text-wrap-skills">
            <p style="color: black;">Java,</p>
            <p style="color: black;">Spring Boot,</p>
            <p style="color: black;">SQL,</p>
            <p style="color: black;">MongoDB,</p>
            <p style="color: black;">HTML/CSS,</p>
            <p style="color: black;">JavaScript,</p>
            <p style="color: black;">Git</p>
        </div>
    </div>      





    </div>

    <!-- Footer -->
    <div class="footer-container">
<div class="footer">
    <p>&copy; 2024 Jackson Wiser. All rights reserved.</p>
</div>
</div>
    </div>
</div>




</div>
 







        <!--MOBILE button-->
    <button class="hamburger-btn" id="hamburger-btn">
    <span class="icon">
        <svg viewBox="0 0 175 80" width="40" height="40">
            <rect width="80" height="15" fill="#f0f0f0" rx="10"></rect>
            <rect y="30" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
            <rect y="60" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
        </svg>
    </span>
    <span class="text">MENU</span>
</button>

    <!-- Mobile Menu -->
    <div class="mobile-menu">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/about}">About</a>
        <a th:href="@{/contact}">Contact</a>
        <a th:href="@{/connect}">Connect</a>
    </div>


    <!-- ==== END of the CONTAINER that started at "logo-name-container" ==== -->
    </div>


        
            

            
       
    </div>
</section>

            </div>
        </div>
        </section>
    </section>




      




<!--SCRIPTS-->

<script>
    document.getElementById("search-form").addEventListener("submit", function(e){
        e.preventDefault();
        // Add your search handling logic here
        const query = document.getElementById("search-box").value;
        

        // Example: Redirect to a search results page or perform an action based on the query
        if (
            // Check for keywords related to projects, repositories, or code
            query.includes("projects") ||
            query.includes("Projects") ||
            query.includes("project") ||
            query.includes("Project") ||
            query.includes("repository") ||
            query.includes("Repository") ||
            query.includes("repo") ||
            query.includes("Repo") ||
            query.includes("code") ||
            query.includes("Code") ||
            query.includes("source") ||
            query.includes("Source") ||
            query.includes("github") ||
            query.includes("GitHub") ||
            query.includes("repo") ||
            query.includes("Repo") ||
            query.includes("projct") ||
            query.includes("Projct") ||
            query.includes("Repository")
        ){
            window.open("https://github.com/PeakValo05?tab=repositories");
        } else if (
            query.includes("resume") ||
            query.includes("Resume") ||
            query.includes("cv") ||
            query.includes("resme") ||
            query.includes("Resme") ||
            query.includes("ResMe") ||
            query.includes("About") ||
            query.includes("rsume")
        ) {
            // Open the resume PDF in a new tab
            window.open("/assets/Jackson's Resume.pdf");


        } else if (
            query.includes("contact") ||
            query.includes("Contact") ||
            query.includes("email") ||
            query.includes("Email") ||
            query.includes("reach out") ||
            query.includes("Reach Out") ||
            query.includes("get in touch") ||
            query.includes("Get in Touch") ||
            query.includes("Contact Me") ||
            query.includes("contact me") ||
            query.includes("jwiser.dev") ||
            query.includes("gmail.com") ||
            query.includes("email me") ||
            query.includes("Email Me") ||
            query.includes("jwiser.dev@gmail.com") ||
            query.includes("Contact")
        ) {
    window.open(
        "https://mail.google.com/mail/?view=cm&fs=1&to=jwiser.dev@gmail.com",
        "_blank"
    );
        }
        else {
            // If no results found, you can show an alert or handle it as needed
            alert("No results found for your query.");
        }
    });
</script>










</body>

</html>