<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!--Linke to fonts-->

            <!--Linke to fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Emblema+One&family=Krona+One&family=Montenegrin+Gothic+One&family=Oswald:wght@200..700&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&display=swap" rel="stylesheet">

    



<!-- Links to my CSS files -->
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/bars.css(v=5)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/buttons.css(v=4)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/cards.css(v=5)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/header-responsive.css(v=4)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/content.css(v=4)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/body-content.css(v=4)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/header.css(v=4)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/table.css(v=5)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/animated-arrow.css}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/body-content-responsive.css(v=4)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/table-responsive.css(v=5)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/buttons-responsive.css(v=5)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/mobile-btn.css(v=5)}">
<link rel="stylesheet" th:href="@{/CSS/HomePageCSS/main-blocks.css(v=5)}">



    
</head>

<body>
    <section th:class="@{home-page}">


<!--Container for the top bar-->
        <div class="top-bar-container">
               <!--Top bar with name profile pic, etc-->
        <div class="top-bar">
            <p class="top-bar-text">Jackson<br> Wiser</p>
            </div>
        </div>

<div class="grouping-blocks">
        <!--Block that hold all the skills-->
    <div class="skills-block-container">
        <div class="skills-block">



        </div>
    </div>

            <!--Block that hold all the education-->
    <div class="skills-block-container">
        <div class="skills-block">




<div th:each="skill : ${skills}" class="skill-card">

    <div class="block-container">
    <img class="skills-image"
         th:src="${skill.skillsImage}"
         th:alt="${skill.name}">
         </div>

    <div class="skill-info">
        <h3 th:text="${skill.name}"></h3>

        <span>
            <span class="skill-percentage" th:text="${skill.percentage}"></span>%
        </span>
    </div>
</div>
    </div>
</div>



    
<div class="side-bar-container">

    <div class="logo-name-container">
        <img th:src="@{images/PVLogoBlack.png}" class="PV-logo">
        <p>PeaksValo</p>
    </div>

    

    <span class="section-title">Essentials</span>
    <div class="text-wrap">
        <a th:href="@{#}">
            <img th:src="@{SVG Images/laptop.svg}" class="projects-btn">
        </a>
        <p style="color: black">Projects</p>
    </div>

    <div class="text-wrap">
        <a th:href="@{/about}">
            <img th:src="@{SVG Images/file-person-fill.svg}" class="about-btn">
        </a>
        <p style="color: black">About</p>
    </div>

    <div class="text-wrap">
        <a th:href="@{/contact}">
            <img th:src="@{SVG Images/envelope-arrow-down-fill.svg}" class="contact-btn">
        </a>
        <p style="color: black">Contact</p>
    </div>

    <div class="text-wrap">
        <a th:href="@{/connect}">
            <img th:src="@{SVG Images/person-lines-fill.svg}" class="connect-btn">
        </a>
        <p style="color: black">Connect</p>
    </div>

    <div class="text-wrap">
        <a th:href="@{/assets/Jackson's Resume.pdf}">
            <img th:src="@{SVG Images/cloud-arrow-down-fill.svg}" class="download-resume-btn">
        </a>
        <p style="color: black">Resume</p>
    </div>

</div>


 







        <!--MOBILE button-->
    <button class="hamburger-btn" id="hamburger-btn">
    <span class="icon">
        <svg viewBox="0 0 175 80" width="40" height="40">
            <rect width="80" height="15" fill="#f0f0f0" rx="10"></rect>
            <rect y="30" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
            <rect y="60" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
        </svg>
    </span>
    <span class="text">MENU</span>
</button>

    <!-- Mobile Menu -->
    <div class="mobile-menu">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/about}">About</a>
        <a th:href="@{/contact}">Contact</a>
        <a th:href="@{/connect}">Connect</a>
    </div>


    <!-- ==== END of the CONTAINER that started at "logo-name-container" ==== -->
    </div>


        
            



                    <!--Scroll to bottom of main page-->
    <section>
        <div class="arrow-container">
       <button id="scrollBottomBtn" class="scroll-bottom">
            <img th:src="@{/SVG Images/chevron-double-down.svg}" class="arrow-icon" alt="Scroll Down">
       </button>
            
        </button>

    </div>
</section>

            </div>
        </div>
        </section>
    </section>




      




<!--SCRIPTS-->

<!--Scroll top function-->
<script>

const scrollTopBtn = document.getElementById("scrollTopBtn");

scrollTopBtn.addEventListener("click", () => {
    window.scrollTo({
        top: 0,
        behavior: "smooth"
    });
});

</script>



<!--Scroll down function-->
<script>

const scrollBottomBtn = document.getElementById("scrollBottomBtn");

scrollBottomBtn.addEventListener("click", () => {
    window.scrollTo({
        top: document.documentElement.scrollHeight,
        behavior: "smooth"
    });
});

</script>
    


    <!-- Hamburger Menu Script -->
    <script>
const burger = document.getElementById("hamburger-btn");
const mobileMenu = document.querySelector(".mobile-menu");

burger.addEventListener("click", () => {
    console.log("clicked");
    mobileMenu.classList.toggle("active");
});
    </script>

</body>

</html>