
.scroll-top:hover{
    transform: rotate(-135deg);
}
.arrow-container{
    display: flex;
    justify-content: center;

}


/* Scroll back to bottom */
.scroll-bottom {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon {
    width: 40px;
    height: 40px;
    filter: brightness(0);
    transition: transform .3s ease;

}
.scroll-bottom:hover .arrow-icon {
    transform: translateY(6px);
}
.scroll-bottom:hover .arrow-icon {
    filter: brightness(0) invert(1)
            drop-shadow(0 0 10px #2c80e0);
}



/* Scroll back to top */
.scroll-top {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon-top-scroll {
    width: 40px;
    height: 40px;
    filter: brightness(0);
    transform: rotate(180deg);
    transition: transform .3s ease, filter .3s ease;
}
.scroll-top:hover .arrow-icon-top-scroll {
    transform: rotate(180deg) translateY(-6px);
    filter: brightness(0) invert(1)
            drop-shadow(0 0 10px #2c80e0);
}