
.scroll-top:hover{
    transform: rotate(-135deg);
}
.arrow-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;

}


/* Scroll back to bottom */
.scroll-bottom {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon {
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1); /* white */
    transition: transform .3s ease;
    margin-top: 10px;

}
.scroll-bottom:hover .arrow-icon {
    transform: translateY(6px);
}
.scroll-bottom:hover .arrow-icon {
    filter: brightness(0) invert(1)
            drop-shadow(0 0 10px #2c80e0);
}



