
.label-jackson{
    font-size: 25px;
    padding: 10px
    

}

.sub-header{
    background-color: rgb(44, 128, 224);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}
/* Tag that is placed on the sub header */
.notice-label{
    text-align: center;
}
.peaks-label{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    
}
/* Top bar container & styling */
.top-bar{
    display: flex;
    width: 89%;
    height: 75px;
    background-color: white;
    box-shadow: 0 8px 25px rgba(0,0,0,.2);
    border-radius: 20px;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    gap: 10px;
}
/* Top bar text styling */
.top-bar-text{
    color: black;
}
/* Top bar button styling */
.top-bar-container{
    display: flex;
    justify-content: center;
    margin-left: 290px;
    margin-top: 20px;
    

}



/* PV logo width and height */
.PV-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
   
    
}
/* PV logo container */
.logo-name-container {
    display: flex;
    align-items: center;
  
 
}
/* PV logo name styling */
.logo-name-container p {

    font-size: 25px;
    font-family:'Sora', sans-serif;
    font-weight: bold;
   

 
}
/* PV logo name container */
.section-title {
    display: block;
    color: grey;

}



/* Container for all nav buttons */
.side-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 300px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 10px;
    padding: 40px 0 0 20px;
    box-sizing: border-box;

    border-right: 1px solid rgba(255,255,255,.15);
    background: rgba(255,255,255,.08);
    backdrop-filter: blur(10px);

    box-shadow: 0 8px 25px rgba(0,0,0,.2);
}
.self-image{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
  
}


