

/* Nav button styling */
.about-btn, .connect-btn, .contact-btn, .download-resume-btn, .projects-btn{

    font-size: 30px;
    font-weight: bold;
    background-color: none;
    width: 25px;
    height: 25px;
    line-height: 50px;
    text-align: center;
    
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: transform .25s ease, filter .25s ease;
    font-family: 'Anton', sans-serif;
    filter: brightness(0);
}
/* text next to the nav buttons */
.text-wrap {
    display: flex;
    align-items: center;   /* Vertically center the icon and text */
    gap: 12px; 
             /* Space between icon and text */
}

.text-wrap p {
    margin: 0;             /* Remove default paragraph margins */
    color: white;
    font-family: 'Inter', sans-serif;

}
/* Specific styling for the "CONTACT" buttons */
.linkedin-btn, 
.github-btn, 
.contact-btn, 
.download-resume-btn, 
.projects-btn {
    width: 25px;
    height: 25px;
    object-fit: contain;
    transition: transform .25s ease, filter .25s ease;
    filter: brightness(0);
}
/* Specific styling for the "GITHUB" button */
.github-btn{
    width: 25px;
    height: 25px;
    object-fit: contain;
    transition: transform .25s ease, filter .25s ease;
    filter: brightness(0);
}
/* Specific styling for the "PHONE" button */
.phone-btn{
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: transform .25s ease, filter .25s ease;
    filter: brightness(0);
}



/* HOVER EFFECT for the NAV BUTTONS */
.about-btn:hover,
.connect-btn:hover,
.contact-btn:hover, 
.download-resume-btn:hover, 
.projects-btn:hover,
.phone-btn:hover,
.linkedin-btn:hover,
.github-btn:hover{

    filter: brightness(0) invert(0.8);
    transform: translateY(-3px);
    
    
}







/* MOBILE menu styling */
.mobile-menu{
    position: absolute;
    top: 90px;
    right: 20px;

    min-width: 220px;

    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 16px;

    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-15px);

    box-shadow: 0 10px 30px rgba(0,0,0,0.25);

    transition: all 0.3s ease;
}
/* TEXT styles within the form */
.mobile-menu a{
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
}
.mobile-menu a:hover{
    transform: translateX(5px);
    color: rgb(44, 128, 224);
}

.mobile-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}





