*,
*::before,
*::after {
    box-sizing: border-box;
}




/* Header (Jackson Wiser) */
.txt-header{
    font-size: 50px;
    padding-top: 20px;
    font-weight: bold;
    color: white;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    margin: 5px;
}
/* Header 2 (Software Development Student) */
.txt2-label{
    font-size: 16px;
    color: rgb(44, 128, 224);
    margin: 5px;
    transform: translateY(-35px);
    position: absolute;
    right: 0;

    
}
/* Main description in the header */
.txt-description{

    position: absolute;
    right: 0;
    font-size: 18px;
    max-width: 600px;
    color: white;
    margin: 5px;
    

}



