.hero-image {
    width: 100%;
    min-height: 700px;
    height: auto;
    text-align: left;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-image: url("../../images/bg.png"); /* Hero image */
    background-size: cover;
    background-position: center 75%;
    background-repeat: no-repeat;
}
/* Header (Jackson Wiser) */
.txt-header{
    font-size: 50px;
    padding-top: 20px;
    font-weight: bold;
    color: white;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    margin: 5px;
}
/* Header 2 (Software Development Student) */
.txt2-label{
    font-size: 16px;
    color: rgb(44, 128, 224);
    margin: 5px;
    transform: translateY(-35px);

    
}
/* Main description in the header */
.txt-description{
    font-size: 18px;
    max-width: 600px;
    color: white;
    margin: 5px;
    padding-top: 200px;

}
.header-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}




/* PV logo width and height */
.PV-logo{
    width: 75px;
    height: 75px; 
    
}

.logo-name-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

